.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  table-layout: auto;
  border: 1px solid black;
  width: 70%;
}

th,
td {
  border: 1px solid black;
}

#articlesList {
  color: rgb(218, 98, 0);
  background-color: white;
  text-align: center;
  list-style-position: inside;
  padding: 3px 0 3px 20px;
  margin: 0.4em 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15pt;
}

#singleArticle {
  color: rgb(16, 46, 7);
  background-color: rgb(227, 236, 236);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topicDropdown {
  color: rgb(16, 46, 7);
  background: white;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

#topicFilterButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#articleVoter {
  font-size: 20px;
  color: rgb(190, 123, 207);
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background: #5c1309cb;
  padding: 10px;
}

.grid-item {
  background-color: rgba(212, 223, 220, 0.897);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 4;
  grid-row: 1;
  font-size: 100%;
}

.item2 {
  grid-column: 4;
  grid-row: 2;
}

.item3 {
  grid-column: 1 / span 1;
  grid-row: 2;
  font-size: 100%;
}

.item4 {
  grid-column: 2;
  grid-row: 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
  font-size: 100%;
}

.item6 {
  grid-column: 3;
  grid-row: 2;
}

#sortBySelector {
  color: rgb(16, 46, 7);
  background: white;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

#topicFilterButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

.dropdown-container {
  display: grid;
  grid-gap: 10px;
  background: #5c1309cb;
  padding: 10px;
}

.dropdown-item {
  background-color: rgba(212, 223, 220, 0.897);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.firstDropdown {
  grid-column: 1;
  grid-row: 1;
  font-size: 100%;
}

.secondDropdown {
  grid-column: 2;
  grid-row: 1;
  font-size: 100%;
}

.article-container {
  display: grid;
  grid-gap: 10px;
  background: rgba(242, 241, 247, 0.897);
  padding: 50px;
}

.article-item {
  background-color: rgba(212, 223, 220, 0.897);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.firstItem {
  grid-column: 2;
  grid-row: 2;
}

.secondItem {
  grid-column: 3;
  grid-row: 2;
}

.thirdItem {
  grid-column: 1;
  grid-row: 2;
}

.fourthItem {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.fifthItem {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-size: 50px;
}

.comment-container {
  display: grid;
  grid-gap: 10px;
  background: darkgrey;
  padding: 10px;
}

.comment-item {
  background-color: rgba(212, 223, 220, 0.897);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.firstCommentItem {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}

.secondCommentItem {
  grid-column: 1;
  grid-row: 3;
}

.thirdCommentItem {
  grid-column: 2;
  grid-row: 3;
}

.fourthCommentItem {
  grid-column: 3;
  grid-row: 3;
}

#deleteCommentButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#userDropdown {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#loginButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#addCommentButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#enter-comment {
  height: 200px;
  width: 500px;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: scroll;
}

#enterCommentText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  overflow: auto;
}

#upvoteCommentButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#downvoteCommentButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#articleUpvoter {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#articleDownvoter {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}
