.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  table-layout: auto;
  border: 1px solid black;
  width: 70%;
}

th,
td {
  border: 1px solid black;
}

#articlesList {
  color: rgb(218, 98, 0);
  background-color: white;
  text-align: center;
  list-style-position: inside;
  padding: 3px 0 3px 20px;
  margin: 0.4em 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15pt;
}

#singleArticle {
  color: rgb(16, 46, 7);
  background-color: rgb(227, 236, 236);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topicDropdown {
  color: rgb(16, 46, 7);
  background: white;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

#topicFilterButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 12px;
  font-size: 30px;
}

#articleVoter {
  font-size: 20px;
  color: rgb(190, 123, 207);
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background: #5c1309cb;
  padding: 10px;
}

.grid-item {
  background-color: rgba(212, 223, 220, 0.897);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 100%;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 1;
}

.item3 {
  grid-column: 1 / span 1;
  grid-row: 2;
  font-size: 100%;
}

.item4 {
  grid-column: 2;
  grid-row: 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
  font-size: 100%;
}

.item6 {
  grid-column: 3;
  grid-row: 2;
}
