@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
  .font {
    size: 50%;
  }
}

#userDropdown {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#loginButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#logoutButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#deleteCommentButton {
  color: rgb(16, 46, 7);
  background: #e0e2db;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#addCommentButton {
  color: rgb(16, 46, 7);
  background: #e0e2db;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#enter-comment {
  height: 200px;
  width: 500px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: scroll;
}

#Upvoter {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#Upvoter:disabled {
  color: inherit;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#Downvoter {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#Downvoter:disabled {
  color: inherit;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.articleList {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.comment-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logged-in-user {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.log-in-container {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 20px;
}

.log-in-text {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.log-in-button {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-size: 20px;
}

.logout-button {
  grid-column: 2;
  grid-row: 2;
}

.dropdown-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.firstDropdown {
  grid-column: 1;
  grid-row: 1;
}

.secondDropdown {
  grid-column: 2;
  grid-row: 1;
}

#topicDropdown {
  color: rgb(16, 46, 7);
  background: white;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

#topicFilterButton {
  color: rgb(16, 46, 7);
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 12px;
  font-size: 15px;
}

#sortBySelector {
  color: rgb(16, 46, 7);
  background: white;
  border-radius: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

#enter-comment {
  height: 100px;
}

.article-container {
  display: grid;
  grid-template-areas:
    "vote title title title  "
    "vote topic   author comments";
  color: rgb(16, 46, 7);
  background-color: white;
  grid-gap: 10px;
  padding: 20px;
  margin: 0.4em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15pt;
  border: #0f2246;
  text-align: left;
  /* list-style-position: inside; */
}

.firstItem {
  font-size: 30px;
  grid-area: title;
}

.secondItem {
  grid-area: topic;
}

.thirdItem {
  grid-area: author;
}

.fourthItem {
  grid-area: comments;
}

/* .item6 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 50;
  font-size: 40px;
} */

.comment-container {
  color: rgb(16, 46, 7);
  background-color: white;
  list-style-position: inside;
  padding: 20px;
  margin: 0.4em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15pt;
  display: grid;
  border: #0f2246;
}

.users-article-container {
  color: rgb(16, 46, 7);
  background-color: white;
  list-style-position: inside;
  padding: 20px;
  margin: 0.4em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15pt;
  display: grid;
  border: #0f2246;
}
